<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.oveach.hollybee"
        version   = "1.0.0">

<name>Holly Bee</name>

<description>
    Super app!
</description>

<author href="https://github.com/oveach" email="oveach@gmail.com">
    ovh 
</author>

<gap:platform name="android" />

<!-- If you do not want any permissions to be added to your app, add the
    following tag to your config.xml; you will still have the INTERNET
    permission on your app, which PhoneGap requires. -->
<preference name="permissions" value="none"/>

</widget>