<div class="modal-header modal-header-warning">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4>Warning</h4>
</div>
<div class="modal-body">
    <p>You're going to delete the trip<br/>
        <strong>{{ trip.name }}</strong>
    </p>
    <p>Are you sure ?</p>
</div>
<div class="modal-footer">
    <div class="row no-gutter">
        <div class="col-xs-6">
            <button class="btn btn-danger btn-block" ng-click="delete(trip)">Delete</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-default btn-block" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>