<h1>Expenses</h1>

<div class="row expenses-header">
    <div class="col-xs-4">Budget:</div>
    <div class="col-xs-4 text-center"></div>
    <div class="col-xs-4 text-right">Total Expenses:</div>
</div>
<div class="row expenses-header">
    <div class="col-xs-4">
        <a href="#/trips/edit/xx" class="btn btn-default btn-lg">400 €</a>
    </div>
    <div class="col-xs-4 text-center">
        <a href="#/expense" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-plus-sign"></span> Add
        </a>
    </div>
    <div class="col-xs-4 text-right">
        <button class="btn btn-success btn-lg">123.50 €</button>
    </div>
</div>

<div id="expenses" class="list-group">
    <small>Tip: Swipe a line to the right to remove it.</small>
    <a href="#/expense" class="list-group-item">
        <span class="badge">25.00 €</span>
        <small class="list-group-item-text">01/01/2014</small>
        <p>Expense description here even if it's very long</p>
    </a>
    <a href="#/expense" class="list-group-item">
        <span class="badge">125.00 €</span>
        <small class="list-group-item-text">01/01/2014</small>
        <p>Expense description here</p>
    </a>
    <a href="#/expense" class="list-group-item">
        <span class="badge">30.50 €</span>
        <small class="list-group-item-text">01/01/2014</small>
        <p>Expense description here</p>
    </a>
    <a href="#/expense" class="list-group-item">
        <span class="badge">30.50 €</span>
        <small class="list-group-item-text">01/01/2014</small>
        <p>Expense description here</p>
    </a>
    <a href="#/expense" class="list-group-item">
        <span class="badge">30.50 €</span>
        <small class="list-group-item-text">01/01/2014</small>
        <p>Expense description here</p>
    </a>
    <a href="#/expense" class="list-group-item">
        <span class="badge">30.50 €</span>
        <small class="list-group-item-text">01/01/2014</small>
        <p>Expense description here</p>
    </a>
    <a href="#/expense" class="list-group-item">
        <span class="badge">30.50 €</span>
        <small class="list-group-item-text">01/01/2014</small>
        <p>Expense description here</p>
    </a>
</div>