<md-toolbar>
    <div class="md-toolbar-tools">
        <span class="md-title">Trips</span>
        <span flex></span>
        <md-button class="md-icon-button" ui-sref="trip_form">
            <md-icon>add</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-content>
    <md-list>
        <md-list-item ng-repeat="trip in trips" ng-click="viewTrip(trip.id)">
            <div class="md-list-item-text">
                <p>
                    <strong>{{ trip.name }}</strong><br/>
                    {{ trip.startDate | date:'dd/MM/yyyy' }} <md-icon>arrow_forward</md-icon> {{ trip.endDate | date:'dd/MM/yyyy' }}
                </p>
            </div>
            <span flex></span>
            <div class="badge">{{ trip.budget }} €</div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>
