<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="goBack()">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <span class="md-title">{{ title }}</span>
        <span flex></span>
    </div>
</md-toolbar>

<md-content>
    <form ng-submit="save()">
        <md-input-container>
            <label>Name</label>
            <input ng-model="trip.name">
        </md-input-container>
        <md-input-container>
            <label>From</label>
            <input type="date" ng-model="trip.startDate">
        </md-input-container>
        <md-input-container>
            <label>Until</label>
            <input type="date" ng-model="trip.endDate">
        </md-input-container>
        <md-input-container>
            <label>Budget</label>
            <input ng-model="trip.budget">
        </md-input-container>
        <div layout="row" layout-align="center">
            <md-button class="md-raised md-primary" ng-click="save()">
                Save
            </md-button>
            <md-button class="md-raised" ng-click="goBack()">
                Cancel
            </md-button>
        </div>
    </form>
</md-content>
