<h1>Trips list</h1>
<p class="text-right">
    <button class="btn btn-primary" ng-click="showModal()">
        <span class="glyphicon glyphicon-plus-sign"></span> Add new trip
    </button>
</p>
<small>Tip: Swipe a trip to the left to remove it.</small>
<div class="list-group">
    <a href="#/trip/{{ trip.$$hashKey }}" class="list-group-item" ng-repeat="trip in trips" ng-swipe-left="delete()">
        <span class="badge">{{ trip.budget }} €</span>
        <h4 class="list-group-item-heading">{{ trip.name }}</h4>
        <small class="list-group-item-text">From {{ trip.startDate }} to {{ trip.endDate }}</small>
    </a>
</div>