/* angular-ui bootstrap hack */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
	padding-bottom: 50px;
}

/* navbar hack to disable responsiveness */
ul.nav {
	margin: 0;
}

ul.nav li {
	float: left;
	padding: 0;
}

ul.nav li a {
	padding-top: 15px;
	padding-bottom: 15px;
}