/* angular-ui bootstrap hack */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* leave some space left for the menu in the bottom of page */
body {
	padding-bottom: 50px;
}

.modal-header-warning {
	color: #D96304;
	background-color: #FCE4C6;
}

/* navbar hack to disable responsiveness */
ul.nav {
	margin: 0;
}

ul.nav li {
	float: left;
	padding: 0;
}

ul.nav li a {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* badge colors for statuses */
.badge-success {
    background-color: #419641;
}

.badge-warning {
    background-color: #EB9316;
}

.badge-danger {
    background-color: #C12E2A;
}

div.container {
    padding: 0 8px;
}

a.list-group-item {
    padding: 6px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
}

#expenses {
    margin-top: 2em;
}

.expenses-header {
    padding: 0 15px;
}

.expenses-header>div {
    padding: 0;
}

form#trip-form {
    margin-top: 0.7em;
}