/* angular-ui bootstrap hack */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
	padding-bottom: 50px;
}

.modal-header-warning {
	color: #D96304;
	background-color: #FCE4C6;
}